# 忽略目录
build/
build-obf/
dist/
model/
dist_obfuscated/
customer_service.jpg
customer_service2.png
build.bat
build-obf.spec
build.spec
build-obf.bat
obfuscated.py
开发文档.md
startup.bat
.idea
.gitignore
AESEncrypt.py
